.cm_container {
    position: fixed;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.1s;
    transform-origin: top left;
    padding: 0;
    box-sizing: border-box;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #ccc;
        box-shadow: 0 0 5px #333;
    }

    li {
        padding: 5px 10px;
        padding-right: 1.7em;
        cursor: pointer;
        white-space: nowrap;

        &[disabled=""] {
            color: #777;
            cursor: default;

            &:hover {
                background-color: inherit;
            }
        }

        &:hover {
            background-color: #bbb;

            ul {
                opacity: 1;
                visibility: visible;
            }
        }

        .cm_icon_span {
            width: 1.5em;
            height: 1.2em;
            display: inline-block;
            border-right: 1px solid #aaa;
            margin-right: 5px;
            padding-right: 5px;
            text-align: center;
        }

        .cm_sub_span {
            width: 1.5em;
            height: 1.2em;
            display: inline-block;
            margin-right: 5px;
            padding-right: 5px;
            text-align: center;
        }

        * {
            position: relative;
            box-sizing: border-box;
        }

        > ul {
            position: absolute;
            top: 0;
            left: 100%;
            opacity: 0;
            transition: opacity 0.2s;
            visibility: hidden;
        }
    }

    li.cm_divider {
        border-bottom: 1px solid #aaa;
        margin: 5px;
        padding: 0;
        cursor: default;

        &:hover {
            background-color: inherit;
        }
    }
}

.cm_container.display {
    opacity: 1;
    transform: scale(1);
}
.cm_container.cm_border_right {
    > ul {
        ul {
            left: -100%;
        }
    }
}
.cm_container.cm_border_bottom {
    > ul {
        ul {
            top: unset;
            bottom: 0;
        }
    }
}